.social {
  border-radius: 50%;
  border: 1px solid #4e342e;
  margin: 7px;
  padding: 8px;
}

.col.xl1.s12.follow {
    padding: 0;
}

.col.xl2.l4.s12.newsletter {
    padding: 0;
}

.col.xl2.l4.s12.join {
    padding: 0;
}

.header{
  margin: auto;
  margin-top: 215px;
  text-align:center;
  width: 50%;
}

.learn {
    margin-top: 8px;
}

.library-button {
  margin: 15px auto;
}
