.social {
  border-radius: 50%;
  border: 1px solid #4e342e;
  margin: 7px;
  padding: 8px;
}

.col.xl1.s12.follow {
    padding: 0;
}

.col.xl2.l4.s12.newsletter {
    padding: 0;
}

.col.xl2.l4.s12.join {
    padding: 0;
}
